@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #000;
    width: 100%;
    position: fixed;
}

nav ul{
    list-style: none ;
    display: flex;
    justify-content: center;
}

nav ul li{
    padding: 1rem; 
}

nav ul li a{
    text-decoration: none;
    color: #ffe084;
    transition: .2s ease-out;
    font-weight: 800;
    font-size: 1vw;
}

nav ul li a:hover{
    box-shadow: 0 0 10px 10px #ffe084;
    background: #ffe084;
    color: black;
    padding: .5rem;
}

header#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
}

header div#img{
    display: flex;
    justify-content: center;
    padding: 3rem;
    width: 60%;
}

header div p{
    font-size: 3vw;
    font-weight: 600;
    color:#000;
    text-align:center ;
}

header div span{
    font-size: 2vw;
    font-weight: 500;
    color: black;
    padding-left:40rem ;
}

header div#img img{
    width: 70%;
}

section#sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #ffe084;
}

section#sobre-mim div img{
    width: 70%;
    border-radius: 50%;
    display: block;
    margin: auto;
}

section#sobre-mim div p{
    font-size: 1.2vw;
    text-align: justify;
    color: #000;
    font-weight: 700;
    line-height: 2.5rem;
}

section#projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
}

section#projetos div{
    width: 20rem;
}

section#projetos div img{
    display: block;
    margin: auto;
}

section#projetos div img#projeto1{
    width: 115%;
    
}

section#projetos div h2{
    text-align: center;
    padding: 1rem;
    font-weight: 800;
}

section#projetos div p{
    text-align: justify;
    font-weight: 600;
}

section#projetos div{
    padding: 2rem;
}

section#projetos div a{
    text-decoration:none ;
}

section#projetos div button{
    min-width: 250px;
    min-height: 50px;
    display: block;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-size: .8vw;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffe084;
    background: black;
    background: linear-gradient(90deg, rgb(17, 16, 14) 0%, rgb(56, 55, 39) 100%);
    border: none;
    border-radius: 600px;
    box-shadow: 12px 12px 24px #ffd151;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 25px;
}

section#projetos div button::before {
    content: '';
    border-radius: 50px;
    min-width: calc(95px + 12px);
    min-height: calc(95px + 12px);
    box-shadow: 0 0 60px #ffd151;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

section#projetos div button:hover, section#projetos div button:focus {
    color: #ffe084;
    transform: translateY(-6px);
}

section#projetos div button:hover::before, section#projetos divbutton:focus::before {
    opacity: 1;
}

section#projetos div button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #ffe084;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring .5s;
}


section#projetos div button:hover::after, section#projetos div button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 20px;
        height: 20px;
        opacity: 2;
}
    50% {
        width: 25px;
        height: 25px;
        opacity: 2;
}
}

section#habilidades{
    padding: 3rem 10rem 3rem 10rem;
    background-color: #ffe084;
}


section#habilidades h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

section#habilidades p{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

section#habilidades div{
    display: flex;
    border: 1px solid #000;
    border-radius: 1rem;
}

section#habilidades div span#python{
    background-color: #000;
    color: #ffe084;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 60%;
}

section#habilidades div span#html5{
    background-color: #000;
    color: #ffe084;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 45%;
}

section#habilidades div span#css{
    background-color: #000;
    color: #ffe084;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 10%;
}

section#habilidades div span#js{
    background-color: #000;
    color: #ffe084;
    text-align: center;
    padding: .3rem;
    border-radius: 1rem;
    width: 5%;
}

section#contato{
    padding: 3rem 10rem 3rem 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff3d1 ;
}

section#contato div#redes{
    width: 100%;
}

section#contato div#redes h3{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section#contato div#redes div#icons{
    display: flex;
    justify-content: center;
}

section#contato div#redes div#icons a{
    text-decoration: none;
    color: #000;
    font-size: 4rem;
    padding: 2rem;
    transition: all .1s ease-out;
}

section#contato div#redes div#icons a:hover{
    color: #ffe084;
}

section#contato div#redes div#icons a i{
    transition: all .4s ease-out;
}

section#contato div#redes div#icons a i:hover{
    transform: scale(1.2);
}

section#contato div#form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#contato div#form h3{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

section#contato div#form form{
    width: 50%;
}

section#contato div#form form input, textarea{
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid black;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
    outline: none;
    background-color:#fff3d1 ;
}

section#contato div#form form textarea{
    margin-bottom: 2rem;
}

section#contato div#form form label{
    font-size: 1.2rem;
    font-weight: 500;
}

section#contato div#form form button{
    min-width: 250px;
    min-height: 50px;
    display: block;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-size: .8vw;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffe084;
    background: black;
    background: linear-gradient(90deg, rgb(17, 16, 14) 0%, rgb(56, 55, 39) 100%);
    border: none;
    border-radius: 600px;
    box-shadow: 12px 12px 24px #ffd151;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

section#contato div#form form button::before {
    content: '';
    border-radius: 200px;
    min-width: calc(240px + 12px);
    min-height: calc(38px + 12px);
    box-shadow: 0 0 60px #ffd151;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

section#contato div#form form button:hover, section#contato div#form form button:focus {
    color: #ffe084;
    transform: translateY(-6px);
}

section#contato div#form form button:hover::before, section#contato div#form form button:focus::before {
    opacity: 1;
}

section#contato div#form form button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #ffe084;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.2s;
}

section#contato div#form form button:hover::after, section#contato div#form form button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 27px;
        height: 27px;
        opacity: 2;
}
    100% {
        width: 225px;
        height: 225px;
        opacity: 2;
}
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:black ;
    line-height: 25px;
    padding: .4rem;
}

footer p{
    width: 100%;
    text-align: center;
    color: #ffe084;
    font-weight: 700;
}


section#contato div#carregamento{
    display: none; 
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

section#contato div#carregamento p{
    color: black;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

section#contato div#carregamento div#loader{
    border: 13px solid black;
    border-radius: 50%;
    border-top: 13px solid #ffe084;
    border-bottom: 13px solid #ffe084;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}
