<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#sobre-mim">Sobre mim</a></li>
            <li><a href="#projetos">Projetos</a></li>
            <li><a href="#habilidades">Habilidade</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>

    <header id="inicio">

        <div>
            <p>''A riqueza é o produto da capacidade humana de pensar.''</p>
            <span>Ayn Rand</span>
        </div>

        <div id="img">
            <img src="../static/images/databoy.png" alt="foto de um rapaz mexendo em uma tela" />
        </div>
    </header>

    <section id="sobre-mim">

        <div>
            <img src="../static/images/foto eu.png" alt="Foto 3x4 do danilo">
        </div>

        <div>
            <p>
                Me chamo Danilo, sou do Rio de Janeiro, RJ. Sempre fui apaixonado pela área de tecnologia, desde pequeno
                gosto muito de jogos e há uns 3 anos conheci a área de programação e comecei a ver sobre. Por motivos
                pessoais demorei a começar a estudar de fato para entrar na área e agora nas horas vagas e nas nem vagas
                assim eu to me dedicando pra me inserir nesse mercado tão amplo e apaixonante!
            </p>
        </div>


    </section>

    <section id="projetos">

        <a href='/login' id='config'>
            <i class="fa fa-cog" aria-hidden="true"></i>
        </a>

            {% for p in projetos %}
            <div id='card'>
                <img src="{{p.imagem}}" alt="img-lorem">
                <h2>{{p.nome}}</h2>
                <p>{{p.descricao}}</p>
                <a href="{{p.link}}" target="_blank">Veja mais</a>
            </div>
            {% endfor %}

        </section>


    </section>

    <section id="habilidades">
        <h2>Habilidades Técnicas</h2>

        <p>Python</p>
        <div>
            <span id="python">60%</span>
        </div>

        <p>HTML 5</p>
        <div>
            <span id="html5">45%</span>
        </div>

        <p>CSS</p>
        <div>
            <span id="css">10%</span>
        </div>

        <p>Javascript</p>
        <div>
            <span id="js">5%</span>
        </div>

    </section>

    <section id='contato'>

        <div id='redes'>
            <h3>Se conecte comigo</h3>
            <div id="icons">
                <a href="https://www.linkedin.com/in/dmachinez/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/danmachinez" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="https://www.instagram.com/danilomachinez/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>

        </div>

        <div id="form">

            <h3>Mande uma mensagem</h3>

            <form action="/send" method="POST">

                <label for="nome">Nome</label>
                <input id="nome" placeholder="Digite seu nome" name="nome" type="text">

                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email">

                <label for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" cols="10" rows="5" placeholder="Digite sua mensagem"></textarea>

                <button type="submit" id="enviar">Enviar</button>

            </form>

            <div id="carregamento">
                <p>Enviando mensagem</p>
                <div id="loader"></div>

            </div>

    </section>

    <footer>
        <p>Danilo Machinez © </p>

    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>